<div class="main">
    <div class="container-columns">
        <div class="column-right">
            <p>Columna Izquierda</p>
        </div>
        <div class="column-left">
            
            <form class="formularioInicioSesion">
                <h2>Inicio de sesión en NintoDev</h2>
                <div class="form-group">
                    <label>Correo electrónico</label>
                    <input class="input-form" type="email" id="email" name="email">
                </div>

                <div class="form-group">
                    <label>Contrasena</label>
                    <input class="input-form" type="password" id="password" name="password">
                </div>

                <div>
                    <button class="btn-sesion" type="button">Iniciar Sesión</button>
                </div>
            </form>
        </div>
    </div>
</div>